@import './reset.css';
@import './sidepanel.css';
@import './playground.css';
@import './tetromino.css';
@import './menu.css';
@import './touch.css';

html {
  --columns: 10;
  --rows: 20;
  --block-width: 30px;
  --border-width: 1px;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  background-color: #003063;
  background-image: url('../img/grid.png');
  color: white;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  user-select: none;
  overflow: hidden;
  height: 100%;
  min-width: 300px;
}

h1 {
  font-size: 2.5rem;
  margin: 1em;
}

h2 {
  font-size: 1.5em;
  padding: 0.25em;
  text-align: center;
}

h3 {
  font-size: 1.1em;
  margin: 1em;
}

p {
  font-size: 0.8rem;
}

button {
  margin-top: 1em;
  width: 100%;
  padding: 0.2em 0;
  cursor: pointer;
  font-size: 0.8em;
  outline: 0;
  font-family: inherit;
}

button:focus {
  outline: 0;
}

button:active {
  outline: 0;
}

#musicBox {
  position: absolute;
  padding: 10px;
  top: 0px;
  right: 0px;
  width: 70px;
  height: 70px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  background-color: #efefef;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#musicBoxContainer {
  transform: rotate(45deg);
  margin-top: 0px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#musicSwitch {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.hide {
  display: none;
}

#gamePaused {
  display: none;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: gray;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.titleImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em;
  max-width: 1000px;
}

.titleImage img {
  object-fit: contain;
  width: 50%;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

#endGame {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}

#endGame .innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: coral;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(153, 153, 153, 0.23);
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  width: 100%;
  text-align: center;
}

#finalScore {
  font-size: 2.5em;
}

#scoreUnit {
  font-size: 1em;
}

.mainContainer {
  width: 100%;
  max-width: 720px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.flash {
  background-color: red;
}

footer {
  -webkit-box-shadow: 3px -5px 29px -4px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 3px -5px 29px -4px rgba(0, 0, 0, 0.54);
  box-shadow: 3px -5px 29px -4px rgba(0, 0, 0, 0.54);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1em;
  background-color: #0f2348;
  text-align: center;
}

footer p {
  opacity: 0.5;
}

footer a {
  color: antiquewhite;
}

@media screen and (max-device-width: 640px) {
  body {
    font-size: 12px;
  }
  .instructionBox {
    display: none;
  }
}
