html, body {
	margin: 0;
	width: 100%;
	height: 100%;
    overflow: hidden;
    background: #5dc7e7 url(sprites/tiled-bg.png);
}

body { 
    position: relative;
}

.pixelated {
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+  */
}

#container {
    box-shadow: #31b8e0 0px 0px 50px;
}