/*
 * Base styles
 */
html {overflow: hidden; -ms-overflow-style: auto; font: 10px/1.5 /* 15px */ 'Mikodacs', 'Nikumaru', 'Arial', 'Helvetica', sans-serif}
body {min-height: 100%; background: #000; color: #fff; font-size: 18px}
body * {-moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; text-overflow: ellipsis; list-style: none}

body * {text-shadow: 0 0 2px #000, 0 0.05em 0.05em #000}

a {text-decoration: none}

/* Disable scrollbar and scrolling */
.clip {overflow: hidden}

/* Make container extend to full height, even when containing floated elements. */
.clear:after {content: ''; clear: both; display: block}

/* For backend developers: mark elements as not finished (when integrating templates with backend). */
._placeholder {outline: 2px dashed rgba(255, 0, 255, .33) !important}
