/*
 * Zerospace
 */
@font-face {
    font-family: 'Zerospace';
    src: url('../fonts/zerospace.ttf') format('truetype');
}


/*
 * Mikodacs
 */
@font-face {
    font-family: 'Mikodacs';
    src: url('../fonts/mikodacs.ttf') format('truetype');
}

@font-face {
    font-family: 'Mikodacs PCS';
    src: url('../fonts/mikodacs_pcs.ttf') format('truetype');
}


/*
 * Nikumaru
 */
@font-face {
    font-family: 'Nikumaru';
    src: url('../fonts/nikumaru.ttf') format('truetype');
}


/*
 * F25 Bank Printer
 */
@font-face {
    font-family: 'F25 Bank Printer';
    src: url('../fonts/f25_bank_printer.ttf') format('truetype');
}


/*
 * Font used during a match
 */
@font-face {
    font-family: 'kopanito_match_messages_en';
    src: url('../fonts/mikodacs.ttf') format('truetype');
}
