/*
 * Styles for WYSIWYG editors like TinyMCE or CKEditor
 */
.wysiwyg *+p,
.wysiwyg *+dl,
.wysiwyg *+h1,
.wysiwyg *+h2,
.wysiwyg *+h3,
.wysiwyg *+h4,
.wysiwyg *+h5,
.wysiwyg *+h6,
.wysiwyg *+ol,
.wysiwyg *+ul,
.wysiwyg *+figure {margin-top: 1em}

.wysiwyg ol,
.wysiwyg ul {margin-left: 0; padding-left: 40px}
.wysiwyg ul>li {overflow: visible; list-style: disc}
.wysiwyg ol>li {overflow: visible; list-style: decimal}

.wysiwyg li ol,
.wysiwyg li ul {margin-top: 0; margin-bottom: 0}

.wysiwyg h1 {font-size: 36px}
.wysiwyg h2 {font-size: 30px}
.wysiwyg h3 {font-size: 24px}
.wysiwyg h4 {font-size: 18px}
.wysiwyg h5 {font-size: 12px}
.wysiwyg h6 {font-size: 12px; font-weight: 400}

.wysiwyg dt {font-weight: 700}

.wysiwyg a {color: #f00; text-decoration: none}
.wysiwyg a:hover {text-decoration: underline}

.wysiwyg img {display: inline-block; vertical-align: middle}
.wysiwyg figure img {display: block}

.wysiwyg p {line-height: 2em}
.wysiwyg span.grid {display: inline-block; margin-top: -20px; margin-bottom: -20px; vertical-align: middle}
.wysiwyg p>span.key {margin-top: -20px; margin-bottom: -20px}
