#c2canvasdiv.prepared
{
	position:absolute !important;
	margin:0px !important;
	z-index:49;
}

#fakeBody
{
	position:absolute;
	z-index:999999999;	
	overflow:hidden !important;
}

 
#fakeBody #fakeCanvas
{
	position:absolute;
	top:0px;
	z-index:50;
	overflow:hidden !important;
	height:100%;
	width:100%;
}


#fakeCanvas div
{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
}
#fakeCanvas div.darker
{
    -webkit-transition: background-color 100ms linear ;
    -moz-transition: background-color 100ms linear ;
    -o-transition: background-color 100ms linear ;
    -ms-transition: background-color 100ms linear ;
    transition: background-color 100ms linear ;
	background-color:rgba(0,0,0,0.3);
}

#c2canvasdiv.animated
{
	z-index:51;
}
#fakeCanvas.animated
{
	z-index:49;
}

.hidden
{
	display:none;
}